body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("v2-MINIMALIST-LANDSCAPE-SUN-4k (1).png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    color: #00c1d4;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

#tetris {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 1px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.205); 
    border: 2px solid rgba(182, 182, 182, 0.205); 
    backdrop-filter: blur(10px); 
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00c1d4;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008ba3;
}

button:active {
    background-color: #006f81;
}
